
<o-form service="clients" entity="clients" keys="id" header-actions="U" show-header-navigation="no" >
  <o-text-input attr="id" sql-type="INTEGER" enabled="no" label="{{ 'IDCLIENTS' | oTranslate }}" hidden="true"></o-text-input>
  <o-row>
    <o-column title-label="CLIENT_INFORMATION" fxFlex>
      <o-row>
        <o-text-input class="input-padding" attr="name" fxFlex="30" required="yes" label="{{ 'NAMETXT' | oTranslate }}"></o-text-input>
       <o-text-input class="input-padding" attr="surname1" fxFlex="35" required="yes" label="{{ 'SURNAME1TXT' | oTranslate }}"></o-text-input>
        <o-text-input class="input-padding" attr="surname2" fxFlex="35" required="yes" label="{{ 'SURNAME2TXT' | oTranslate }}"></o-text-input>
      </o-row>
       <o-row>
        <o-email-input attr="email" fxFlex="35" label="{{ 'EMAILTXT' | oTranslate }}"></o-email-input>
      </o-row>
      <o-row>
        <o-text-input attr="bank_account" class="input-padding" step="0" grouping="no" fxFlex="35" label="{{ 'BANKACCOUNT' | oTranslate }}"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="credit_number" class="input-padding" step="0" grouping="no" fxFlex="35" label="{{ 'CREDITNUMBER' | oTranslate }}"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>