<o-form-layout-manager title="PRODUCTS" separator=" " mode="tab" label-columns="NAME">
  <o-column-collapsible title="FILTER" appearance="outline">
    <o-row layout-align="end" layout-gap="20px">
      <o-button (onClick)="applyFilter()" attr="APPLY_FILTER" label="STOCK LESS THAN 5" layout-padding></o-button>
      <o-button (onClick)="clearFilter()" attr="CLEAR_FILTER" label="CLEAR FILTER" layout-padding></o-button>
    </o-row>
  </o-column-collapsible>
    <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table #table attr="productTable" sort-columns="ID:DESC" service="products" entity="{{entity}}" keys="ID" columns="NAME;ID;DESCRIPTION;STOCK;PRICE;ON_SALE" visible-columns="NAME;DESCRIPTION;STOCK;PRICE;ON_SALE" query-rows="20" delete-button="no">
      <o-table-context-menu delete="no"></o-table-context-menu>
      <o-table-column attr="NAME" title="NAME" width="100px"></o-table-column>
      <o-table-column attr="DESCRIPTION" title="DESCRIPTION" width="800px"></o-table-column>
      <o-table-column attr="STOCK" title="STOCK" width="200px"></o-table-column>
      <o-table-column attr="PRICE" title="PRICE" width="20px" type="currency" currency-symbol="€" currency-symbol-position="right"></o-table-column>
      <o-table-column attr="ON_SALE" title="ON SALE" width="60px" type="boolean" render-true-value="YES" render-false-value="NO"></o-table-column>
    </o-table>
  </div>
</o-form-layout-manager>
