<o-form service="sales" entity="sales" keys="sales_id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-row>
    <o-column title-label="SALES DETAIL" fxFlex>
      <o-row>
        <o-text-input attr="sales_id" class="input-padding" step="0" grouping="no" fxFlex="40" sql-type="INTEGER"></o-text-input>
        <o-text-input attr="quantity" class="input-padding" step="0" grouping="no" fxFlex="40" sql-type="INTEGER"></o-text-input>
        <o-text-input attr="price" class="input-padding" step="0" grouping="no" fxFlex="40" sql-type="INTEGER"></o-text-input>
        <o-text-input attr="total" class="input-padding" step="0" grouping="no" fxFlex="40" sql-type="INTEGER"></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="product_id" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="client_id" fxFlex></o-text-input>
      </o-row>
      <o-row>
        <o-text-input attr="date" fxFlex="20"></o-text-input>
      </o-row>
    </o-column>
  </o-row>
</o-form>

