<o-form #form service="products" entity="product" keys="id" header-actions="R;U;" show-header-navigation="no">
  <!--<div o-form-toolbar-buttons>
    <button (click)="openProductChart()" attr="PRODUCT_CHART" type="button" class="o-form-toolbar-button" mat-stroked-button>
      <mat-icon>bar_chart</mat-icon>
      <span>OPEN PRODUCT CHART</span>
    </button>
  </div>-->
    <o-text-input attr="id" label="Id" sql-type="INTEGER" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="PRODUCT-DETAILS" fxFlex>
        <o-row>
          <o-text-input attr="name" label="Name" class="input-padding" fxFlex="40" enabled="yes"></o-text-input>
        </o-row>
        <o-row>
          <o-textarea-input class="input-padding" attr="description" label="Description" fxFlex="40" enabled="yes"></o-textarea-input>
        </o-row>
        <o-row>
          <o-text-input attr="stock" label="Stock" class="input-padding" fxFlex="40" enabled="no"></o-text-input>
        </o-row>
        <o-row>
          <o-currency-input attr="price" label="Price" fxFlex="40" enabled="yes"></o-currency-input>
        </o-row>
      </o-column>
    </o-row>
    <o-row>
      <o-column>
        <o-button-toggle #toggle (onChange)="setSale()" attr="SET_SALE" label="ON SALE" layout-padding></o-button-toggle>     
      </o-column>
      <o-column>
        <o-text-input attr="on_sale" type="boolean" style="display:none"></o-text-input>
      </o-column>
    </o-row>
</o-form>