<o-form #form service="products" entity="product" keys="id" header-actions="D;U;" show-header-navigation="no" >
  <div o-form-toolbar-buttons>
    <button (click)="openProductChart()" attr="PRODUCT_CHART" type="button" class="o-form-toolbar-button" mat-stroked-button>
      <mat-icon>bar_chart</mat-icon>
      <span>Open product chart</span>
    </button>
  </div>
    <o-text-input attr="id" label="Id" sql-type="INTEGER" hidden="true" enabled="no"></o-text-input>
    <o-row>
      <o-column title-label="product_photo" fxFlex="50">
        <o-image id="product_photo" label="{{ 'PHOTOTXT' | oTranslate }}" attr="photo" empty-image="assets/images/no-image.png"></o-image>
      </o-column>
      <o-column title-label="PRODUCT-DETAILS" fxFlex>
      <o-text-input attr="name" label="Name" class="input-padding" fxFlex="60" enabled="yes"></o-text-input>
      <o-textarea-input class="input-padding" attr="description" label="Description" fxFlex="60" enabled="yes"></o-textarea-input>
    <o-text-input attr="stock" label="Stock" class="input-padding" fxFlex="60" enabled="no"></o-text-input>
    <o-currency-input attr="price" label="Price" fxFlex="60" enabled="yes"></o-currency-input>
      <o-button-toggle id="btn-toggle" #toggle (onChange)="setSale()" attr="SET_SALE" label="ON SALE"></o-button-toggle>
   <!--  <layout-padding> -->
      <o-column>
<o-row>
      <o-column>
        <o-text-input attr="on_sale" type="boolean" style="display:none"></o-text-input>
      </o-column>



