<o-form service="workers" entity="worker" keys="id" header-actions="I;U;D" show-header-navigation="no">
  <o-text-input attr="id" sql-type="INTEGER" hidden="true" enabled="no"></o-text-input>
  <o-row>
    <o-column title-label="workers_photo" fxFlex="50">
      <o-image id="workers_photo" label="{{ 'PHOTOTXT' | oTranslate }}" attr="photo" empty-image="assets/images/no-image.png"></o-image>
    </o-column>
    <o-column title-label="workers_personal_information" fxFlex>
      <o-text-input class="input-padding" attr="name" label="{{ 'NAMETXT' | oTranslate }}" fxFlex="60" required="yes">
      </o-text-input>
      <o-text-input class="input-padding" attr="surname1" label="{{ 'SURNAME1TXT' | oTranslate }}" fxFlex="60" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="surname2" label="{{ 'SURNAME2TXT' | oTranslate }}" fxFlex="60" required="yes"></o-text-input>
        <o-textarea-input class="input-padding" attr="description" label="Description" fxFlex="60" enabled="yes"></o-textarea-input>
        <o-date-input attr="startdate" label="{{ 'STARTDATETXT' | oTranslate }}" fxFlex="60"></o-date-input>
        <o-text-input class="input-padding" attr="telephone" label="{{ 'TELEPHONETXT' | oTranslate }}" fxFlex="60" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="email" label="{{ 'EMAILTXT' | oTranslate }}" fxFlex="60" required="yes"></o-text-input>
      </o-column>
      <o-row>


