<o-form service="workers" entity="worker" keys="id" header-actions="R;I;U;D" show-header-navigation="no">
  <o-text-input attr="id" sql-type="INTEGER" hidden="true" enabled="no"></o-text-input>
  <o-row>
    <o-column title-label="workers_photo" fxFlex="40">
      <o-image id="workers_photo" attr="photo" empty-image="assets/images/no-image.png" sql-type="OTHER"></o-image>
    </o-column>
    <o-column title-label="workers_personal_information" fxFlex="60">
      <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes"></o-text-input>
      <o-text-input class="input-padding" attr="surname1" fxFlex="100" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="surname2" fxFlex="100" required="yes"></o-text-input>
        <o-date-input attr="startdate" fxFlex="100"></o-date-input>
        <o-text-input class="input-padding" attr="telephone" fxFlex="100" required="yes"></o-text-input>
        <o-text-input class="input-padding" attr="email" fxFlex="100" required="yes"></o-text-input>
      </o-column>
      <o-row>
