/* You can add main module styles to this file */
@import url('https://fonts.cdnfonts.com/css/ds-digital');

o-app-layout-header{
  padding-left: 5%;
  font-family: 'Halimum', 'Montserrat classic';
  color: black;
  opacity: 1;
  text-align: center;
  text-shadow: 0 0 1.5rem rgb(102, 102, 102);
}

o-app-layout{
  margin-left: 5%;
}

#time{
  margin-left: 10%;
  font-size: 1rem;
  font-weight: Halimum;
}

#date{
  font-size: 1rem;
}


