<div fxLayout="column" fxLayoutAlign="space-evenly stretch" class="employee-detail" fxFill>

  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40">
      <div class="image">
        <img [src]="getImageSrc(data.photo)">
      </div>
      <mat-divider></mat-divider>
      <span class="employee-name" style="font-weight: bold;">{{ data.name }}</span>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="column" fxFlex="60" class="employee-data">
      <span *ngIf="data.description">
        <mat-icon>description</mat-icon>{{ data.description }}
      </span>
      <span *ngIf="data.price">
        <mat-icon>euro</mat-icon>{{ data.price }}
      </span>
    </div>
  </div>
</div>

